h1{
    background-color: rgb(4, 4, 61);
    color:  rgb(221, 127, 3);
    text-align: center;
}
 /*Styling the second paragraph*/
h2{
    text-align: center;
   
}

/*Add a image*/
h2{
    /*background-image: url(../IMAGES/pizza1.jpeg);*/
    background-color: black;
    border-width: 5px;
    border-color: rgb(194, 22, 22);
    background-repeat: repeat-x;
    background-position: top right;
    text-align: center;
    color: rgb(245, 185, 195);
    
}
h3{
    background-color:  rgb(4, 4, 61);;
    text-align: center;
    color:  rgb(221, 127, 3);

}
#form{
    text-align: center;
    font-size: large;
    background-image: url(../IMAGES/Pizza2.jpg);
    background-size: cover;
    padding: 80px;
}
/*Styling the button of the first order*/
.btn{
    color: rgb(4, 4, 24);
    border-color: black;
    border-width: 3px;
    background-color: teal;
    float: right;
}

/*Resetbutton*/
#resetbutton{
    background-color: teal;

}

/*The delivery paragraph*/
#delivery{
    text-align:justify;
    text-indent:100px;
    color: rgb(104, 12, 12);
    

}

/*Styling the buttons*/
.btn2{
    text-align: inherit;
    
}

.Size{
    font-size: 30px;
    border-radius: 50%;
    padding: 14px 40px;
    text-align: center;

}
.Crust{
    font-size: 30px;
    border-radius: 50%;
}

.Number-of-pizzas{
    font-size: 30px;
    border-radius: 5px;


}
.Toppings{
    font-size: 30px;
    border-top: 50%;
    
    
    

}